# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
Test[Rr]esults/

# Rider files
.idea/
*.DotSettings.user

# VS Code
/.vscode/

# Visual Studio files
*.user
*.suo

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*

# publish result
/dist/
**/publish/
